@import "normalize.css/normalize.css";


:root {
  --textColor-primary: #EBD8FF;
}
* {
font-family: 'Montserrat', sans-serif;
  padding: 0;
  box-sizing: border-box;
  /* width: 100%; */
}
body {
  margin: 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
